body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 350px auto;
}

.header {
    height: 250px;
}

.sidebar {
    min-height: 100vh;
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.content {
    /* min-height: 100vh; */
    margin-top: -50px;
    display: grid;
    grid-template-columns: auto 500px;
    grid-auto-rows: min-content;
}


.header h1 {
    margin: 0;
    /* height: 75px; */
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 800px));
    grid-auto-rows: min-content;
}

.announcements {
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    height: 500px;
}

.trending {
    grid-column-start: 2;
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    height: 500px;
}

.card {
    background-color: white;
    width: 700px;
    height: 300px;
    padding-left: 50px;
    padding-top: 15px;
    margin: 20px;
}

/* Colours for space indicators */
.announcements {
    background-color: rebeccapurple;
}

.trending {
    background-color: red;
}

.content {
    background-color: lightgray;
}

.sidebar {
    background-color: blue;
}

.header {
    background-color: grey;
}